[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = babujinga-tz
	email = 141809719+babujinga-tz@users.noreply.github.com
